<!-- page for login -->
{% extends "layout.html" %}

{%block content%}
<head>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<main class = "container signup-section">
	<!-- body of login -->
	<div class = "section-content login_body">
		<!-- title -->
		<h2>Login</h2>
		<!-- div for from of login -->
		<form method = "POST" action="/login">
			{{form.hidden_tag()}}
			<!-- email (username)-->
			<div class="form-group username_div">
				{{form.email.label}}
				{{form.email}}
			</div>
			<!--password-->
			<div class="form-group password_div">
				{{form.password.label}}
				{{form.password}}
			</div>
			<!--submit-->
			{{ form.submit(class="btn-primary")}}





		</form>
	</div>
			<!-- added continue with facebook -->
			<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>

</main>
{% endblock %}
